@charset "utf-8";
pre {
	margin-left: 50px;
}

.button {
	position:relative; 
	width:150px; 
	top:10px; 
	left:10px; 
	background-color:#666666;	
}

.button2 {
	position:relative; 
	width:150px; 
	top:20px; 
	left:10px; 
	background-color:#666666;	
}
.debugBox {
	position:relative; 
	width:150px; 
	top:40px; 
	left:10px; 
	background-color:#666666;	
}

.box {
	position:fixed; 
	background-color:#ddd;	
	font-size:16px;
}

